body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    width: 90%;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

input[type="file"] {
    display: none;
}

#csv-dropzone {
    width: 20%;
    border: 2px dashed #007bff;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    text-align: center;
    color: #007bff;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

#csv-dropzone.dragover {
    background-color: #e0f7ff;
}

#stat_html, #stat_html2 {
    display: inline-block;
}

#stat_html {
    margin-right: 40px;
}

button.hidden {
    display: none
}


button.visible {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
